div.sm-jumbotron {
    margin: 0px;
    padding: 2rem;
    background-color: #f09433;
    color: #ffffff;
}
button.btn-submit {
    background-color: #f09433;
    color: #ffffff;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover {
    background-color: #f09433;
}
input.ng-invalid.ng-dirty {
    border-bottom-color: #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}


div.validation-error {
    color: cornflowerblue;
}